.posts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

.card:nth-of-type(4n+1){
    grid-column: span 4;
    grid-row: span 2;
}

.card:nth-of-type(4n+2) {
    grid-column: span 2;
    grid-row: span 2;
}

.card:nth-of-type(4n+3),
.card:nth-of-type(4n+4) {
    grid-column: span 3;
    grid-row: span 2;
}

