.posts{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}



.card:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.card:nth-child(2),
.card:nth-child(3){
    grid-column: span 2;
}

.card:nth-child(4),
.card:nth-child(5){
    grid-column: span 3;
}

