<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if (eq .Lang "nko") }}dir="rtl"{{ end }}>
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . -}}
    <div class="section" id="main">
      {{- block "main" . }}{{- end }}
    </div>
      {{- partial "footer.html" . -}}
      {{- partial "js.html" . -}}
  </body>
</html>
