{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}
  {{ define "main" }}
    <div class="container">
      <div class="columns">
        <div class="column is-9">
          <div class="container">
            {{ $dateFormat := default "2006-01-02" (index .Site.Params "date_format") }}
            <div class="card">
              {{ $tagcolour := .Site.Params.params.colour }}
              <div class="card-content is-primary">

                <div class=dropdown>
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                      <span>Police</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>

                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      <a href="#" class="dropdown-item" data-family="Noto Sans">
                        Noto Sans
                      </a>
                      <a href="#" class="dropdown-item" data-family="Cousine">
                        Cousine
                      </a>
                      <a href="#" class="dropdown-item" data-family="Gentium Basic">
                        Gentium Basic 
                      </a>
                      <a href="#" class="dropdown-item" data-family="Balsamiq Sans">
                        Balsamiq Sans 
                      </a>
                      <hr class="dropdown-divider">
                      <a class="dropdown-item" data-family="Inter">
                       Inter 
                      </a>
                    </div>
                  </div>
                </div>

                <div class="doc">
                  {{ .Content }}
                </div>
       <script>
            window.addEventListener('DOMContentLoaded', event => {
              const button = document.querySelector(".button")
              const buttonValue = document.querySelector(".button span")
              const dropdown = document.querySelector(".dropdown")
              const doc = document.querySelector(".doc")

              doc.style.fontFamily = "Noto Sans";
              buttonValue.textContent = "Noto Sans"

              button.addEventListener('click', event => {
                event.stopPropagation();
                  dropdown.classList.add('is-active')
              })

              dropdown.addEventListener("focusout", event => {
                event.stopPropagation();
                dropdown.classList.remove('is-active');

               document.querySelectorAll('.dropdown-item').forEach(el =>{
                        el.addEventListener('click', (e) => {
                            e.stopPropagation();
                            const font = e.currentTarget.getAttribute('data-family')
                            doc.style.fontFamily = font;
                            buttonValue.textContent = font;
                    })
                })
              });
           })
      </script> 

              </div>
              <div class="card-footer">
                {{ if or (ne ($.Param "share") false) (.Site.DisqusShortname) }}
                  <div class="card-footer-item">
                    {{ if (ne ($.Param "share") false) }}
                      {{ partial "share" . }}
                    {{ end }}
                  </div>
                  <div class="card-footer-item">
                    <div class="field is-grouped is-grouped-multiline">
                      {{ partial "meta" . }}
                    </div>
                  </div>
                  <div class="card-footer-item">
                    <a class="button" href="{{ .Site.Params.gitrepo }}/{{ .Site.Params.gitpath }}/{{ .Site.Params.contentDir }}/{{ replace .File.Path "\\" "/" }}" 
                                      target="_blank" rel="noopener" alt="{{ i18n "pageedit"}}"><span>{{ i18n "pageedit" }}</span></a>
                  </div>
              </div>
              <div class="card-footer" style="flex-flow: column;">
                <div class="card-footer-item">
                  {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
                    {{ template "_internal/disqus.html" . }}
                  {{ end }}
                </div>
              </div>
            {{ end }}

            </div>
          </div>
        </div> 
        <div class="column is-3">
          {{ partial "aside" . }}
        </div>
      </div>
    </div>
  {{ end }}
  {{- /* vim: set ts=2 sw=2 et: */}}

