.doc {
  color: var(--doc-font-color);
  font-size: var(--doc-font-size);
  hyphens: auto;
  line-height: var(--doc-line-height);
  margin: var(--doc-margin);
  max-width: var(--doc-max-width);
  padding: 0 1rem 4rem;

  h1, h2, h3, h4, h5, h6 {
    color: var(--heading-font-color);
    font-weight: var(--heading-font-weight);
    hyphens: none;
    line-height: 1.3;
    margin: 1rem 0 0;
  }

  > h1.page:first-child {
    font-size: calc(36 / var(--rem-base) * 1rem);
    margin: 1.5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .doc {
    flex: auto;
    font-size: var(--doc-font-size--desktop);
    margin: var(--doc-margin--desktop);
    max-width: var(--doc-max-width--desktop);
    min-width: 0;
  }
}

@media screen and (min-width: 769px) {
  .doc > h1.page:first-child {
    margin-top: 2.5rem;
  }
}

#preamble + .sect1 {
  margin-top: 2rem;
}

.doc {
  .sect1 + .sect1 {
    margin-top: 2rem;
  }

  h1.sect0 {
    background: var(--abstract-background);
    font-size: 1.8em;
    margin: 1.5rem -1rem 0;
    padding: 0.5rem 1rem;
  }

  h2:not(.discrete) {
    border-bottom: 1px solid var(--section-divider-color);
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0.4rem 1rem 0.1rem;
  }

  h3:not(.discrete) {
    font-weight: var(--alt-heading-font-weight);
  }

  h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor {
    position: absolute;
    text-decoration: none;
    width: 1.75ex;
    margin-left: -1.5ex;
    visibility: hidden;
    font-size: 0.8em;
    font-weight: normal;
    padding-top: 0.05em;
  }

  h1 .anchor::before, h2 .anchor::before, h3 .anchor::before, h4 .anchor::before, h5 .anchor::before, h6 .anchor::before {
    content: "\00a7";
  }

  h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
  }

  p {
    margin: 0;
  }

  .tableblock p {
    font-size: inherit;
  }

  a {
    color: var(--link-font-color);

    &:hover {
      color: var(--link_hover-font-color);
    }

    &.unresolved {
      color: var(--link_unresolved-font-color);
    }
  }

  i.fa {
    font-style: normal;
  }

  p code, thead code {
    color: var(--code-font-color);
    background: var(--code-background);
    border-radius: 0.25em;
    font-size: 0.95em;
    padding: 0.125em 0.25em;
  }

  pre {
    font-size: calc(18 / var(--rem-base) * 1rem);
    line-height: 1.5;
    margin: 0;
  }

  blockquote {
    margin: 0;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  .underline {
    text-decoration: underline;
  }

  .line-through {
    text-decoration: line-through;
  }

  .paragraph, .dlist, .olist, .ulist, .exampleblock, .imageblock, .listingblock, .literalblock, .sidebarblock, .verseblock, .quoteblock, .partintro {
    margin: 1rem 0 0;
  }

  div.toc {
    background-color: rgb(246, 239, 255);
    margin: 1rem 2rem 0;
    padding: 0.1rem 0.3rem;
    border-radius: 10px;
  }
}

#toctitle {
  font-size: 120%;
}

.doc {
  table {
    &.tableblock {
      border-collapse: collapse;
      font-size: calc(15 / var(--rem-base) * 1rem);
      margin: 2rem 0;

      /* enable table-layout: fixed if you want the table width to be enforced strictly */
      /* alternative is to wrap table in div and set overflow-x: auto on the wrapper */
      /* table-layout: fixed; */
    }

    &.stretch {
      width: 100%;
    }

    &.tableblock {
      thead th {
        border-bottom: 2.5px solid var(--table-border-color);
        padding: 0.5rem;
      }

      td, > :not(thead) th {
        border-top: 1px solid var(--table-border-color);
        border-bottom: 1px solid var(--table-border-color);
        padding: 0.5rem;
      }
    }
  }

  .halign-left {
    text-align: left;
  }

  .halign-right {
    text-align: right;
  }

  .halign-center {
    text-align: center;
  }

  .valign-top {
    vertical-align: top;
  }

  .valign-bottom {
    vertical-align: bottom;
  }

  .valign-middle {
    vertical-align: middle;
  }

  .admonitionblock {
    margin: 1.4rem 0 0;

    p {
      font-size: calc(16 / var(--rem-base) * 1rem);
    }

    td.content {
      font-size: calc(17 / var(--rem-base) * 1rem);

      > :first-child {
        margin: 0;
      }
    }

    pre {
      font-size: calc(16 / var(--rem-base) * 1rem);
    }

    > table {
      border-collapse: collapse;
      table-layout: fixed;
      position: relative;
      width: 100%;
    }

    td.content {
      padding: 1rem 1rem 0.75rem;
      background: var(--admonition-background);
      width: 100%;
    }

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: calc(15 / var(--rem-base) * 1rem);
      padding: 0 0.5rem;
      height: 1.25rem;
      line-height: 1;
      font-weight: var(--admonition-label-font-weight);
      text-transform: uppercase;
      border-radius: 0.45rem;
      transform: translate(-0.5rem, -50%);
    }

    &.caution .icon {
      background-color: var(--caution-color);
      color: var(--caution-on-color);
    }

    &.important .icon {
      background-color: var(--important-color);
      color: var(--important-on-color);
    }

    &.note .icon {
      background-color: var(--note-color);
      color: var(--note-on-color);
    }

    &.tip .icon {
      background-color: var(--tip-color);
      color: var(--tip-on-color);
    }

    &.warning .icon {
      background-color: var(--warning-color);
      color: var(--warning-on-color);
    }

    .icon i {
      display: inline-flex;
      align-items: center;
      height: 100%;

      &::after {
        content: attr(title);
      }
    }
  }

  .imageblock {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  .image > img {
    height: auto;
    max-width: 100%;
  }
}

#preamble .abstract blockquote {
  background: var(--abstract-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

.doc {
  .quoteblock {
    background: var(--quote-background);
    border-left: 5px solid var(--quote-border-color);
    color: var(--quote-font-color);
    padding: 0.25rem 2rem 1.25rem;

    .attribution {
      color: var(--quote-attribution-font-color);
      font-size: calc(15 / var(--rem-base) * 1rem);
      margin-top: 0.75rem;
    }

    blockquote {
      margin-top: 1rem;
    }

    .paragraph {
      font-style: italic;
    }

    cite {
      padding-left: 1em;
    }
  }

  table.tableblock {
    .paragraph {
      margin: 0;
      padding: 0;
    }

    .admonitionblock {
      padding: 0;
    }
  }

  .ulist .admonitionblock, .olist .admonitionblock {
    padding: 0;
  }

  ol, ul {
    margin: 0;
    padding: 0 0 0 2rem;
  }

  ol {
    &.arabic {
      list-style-type: decimal;
    }

    &.decimal {
      list-style-type: decimal-leading-zero;
    }

    &.loweralpha {
      list-style-type: lower-alpha;
    }

    &.upperalpha {
      list-style-type: upper-alpha;
    }

    &.lowerroman {
      list-style-type: lower-roman;
    }

    &.upperroman {
      list-style-type: upper-roman;
    }

    &.lowergreek {
      list-style-type: lower-greek;
    }
  }

  ul.checklist {
    padding-left: 0.5rem;
    list-style: none;

    p > i {
      &.fa-check-square-o:first-child, &.fa-square-o:first-child {
        display: inline-flex;
        justify-content: center;
        width: 1.25rem;
      }
    }

    i {
      &.fa-check-square-o::before {
        content: "\2713";
      }

      &.fa-square-o::before {
        content: "\274f";
      }
    }
  }

  .dlist {
    .dlist, .olist, .ulist {
      margin-top: 0.5rem;
    }
  }

  .olist {
    .dlist, .olist, .ulist {
      margin-top: 0.5rem;
    }
  }

  .ulist {
    .dlist, .olist, .ulist {
      margin-top: 0.5rem;
    }
  }

  .olist li {
    margin-bottom: 0.5rem;
  }

  .ulist {
    li {
      margin-bottom: 0.5rem;
    }

    .listingblock {
      padding: 0;
    }
  }

  .olist .listingblock {
    padding: 0;
  }

  .admonitionblock {
    .listingblock {
      padding: 0;
    }

    .title {
      color: var(--caption-font-color);
      font-size: calc(16 / var(--rem-base) * 1rem);
      font-weight: var(--caption-font-weight);
      font-style: italic;
      hyphens: none;
      letter-spacing: 0.01em;
      padding-bottom: 0.075rem;
      text-align: left;
    }
  }

  .exampleblock .title, .imageblock .title, .literalblock .title, .listingblock .title, .openblock .title, .tableblock caption {
    color: var(--caption-font-color);
    font-size: calc(16 / var(--rem-base) * 1rem);
    font-weight: var(--caption-font-weight);
    font-style: italic;
    hyphens: none;
    letter-spacing: 0.01em;
    padding-bottom: 0.075rem;
    text-align: left;
  }

  .imageblock .title {
    margin-top: 0.5rem;
    padding-bottom: 0;
  }

  .admonitionblock .title + .paragraph {
    margin-top: 0;
  }

  .exampleblock > .content {
    background: var(--example-background);
    border: 0.25rem solid var(--example-border-color);
    border-radius: 0.5rem;
    padding: 0.75rem;

    > :first-child {
      margin-top: 0;
    }
  }

  .sidebarblock {
    background: var(--sidebar-background);
    border-radius: 0.75rem;
    padding: 0.75rem 1.5rem;

    > .content > {
      .title {
        font-size: calc(22.5 / var(--rem-base) * 1rem);
        font-weight: var(--alt-heading-font-weight);
        line-height: 1.3;
        margin-bottom: -0.3em;
        text-align: center;
      }

      :not(.title):first-child {
        margin-top: 0;
      }
    }
  }

  .tableblock pre, .listingblock.wrap pre {
    white-space: pre-wrap;
  }

  pre {
    &:not(.highlight) {
      background: var(--pre-background);
      box-shadow: inset 0 0 1.75px var(--pre-border-color);
      display: block;
      overflow-x: auto;
      padding: 0.75rem;
    }

    &.highlight {
      code {
        background: var(--pre-background);
        box-shadow: inset 0 0 1.75px var(--pre-border-color);
        display: block;
        overflow-x: auto;
        padding: 0.75rem;
      }

      position: relative;
    }
  }

  .listingblock {
    code[data-lang]::before {
      content: attr(data-lang);
      display: none;
      color: var(--pre-annotation-font-color);
      font-size: calc(15 / var(--rem-base) * 1rem);
      letter-spacing: 0.05em;
      line-height: 1;
      text-transform: uppercase;
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
    }

    &:hover code[data-lang]::before {
      display: block;
    }
  }

  .dlist {
    dt {
      font-style: italic;
    }

    dd {
      margin: 0 0 0.3rem 1.5rem;
    }
  }

  .colist {
    font-size: calc(16 / var(--rem-base) * 1rem);
    margin: 0.25rem 0 -0.25rem;

    > table > {
      tr > :first-child, tbody > tr > :first-child {
        padding: 0.25em 0.5rem 0;
        vertical-align: top;
      }

      tr > :last-child, tbody > tr > :last-child {
        padding: 0.25rem 0;
      }
    }
  }

  .conum[data-value] {
    border: 1px solid currentColor;
    border-radius: 100%;
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: calc(13.5 / var(--rem-base) * 1rem);
    font-style: normal;
    height: 1.25em;
    line-height: 1.2;
    text-align: center;
    width: 1.25em;
    letter-spacing: -0.25ex;
    text-indent: -0.25ex;

    &::after {
      content: attr(data-value);
    }

    + b {
      display: none;
    }
  }

  b.button {
    white-space: nowrap;

    &::before {
      content: "[";
      padding-right: 0.25em;
    }

    &::after {
      content: "]";
      padding-left: 0.25em;
    }
  }

  kbd {
    display: inline-block;
    font-size: calc(12 / var(--rem-base) * 1rem);
    background: var(--kbd-background);
    border: 1px solid var(--kbd-border-color);
    border-radius: 0.25em;
    box-shadow: 0 1px 0 var(--kbd-border-color), 0 0 0 0.1em var(--body-background) inset;
    padding: 0.25em 0.5em;
    vertical-align: text-bottom;
    white-space: nowrap;
    line-height: 1;
  }

  .keyseq {
    line-height: 1;
    font-size: calc(16 / var(--rem-base) * 1rem);

    kbd {
      margin: 0 0.125em;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menuseq i.caret::before {
    content: "\203a";
    font-size: 1.1em;
    font-weight: var(--body-font-weight-bold);
    line-height: calc(1 / 1.1);
  }

  a.bare, b.button, code, .path, kbd, .menuseq, .icon i::after {
    hyphens: none;
  }

  th.tableblock, td.tableblock {
    word-break: break-word;

    /* overflow-wrap for table cells; gives space higher precedence than hyphen opportunity */
  }

  .bytefield svg {
    max-width: 100%;
  }
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */



/* NOTE assume pre.highlight contains code[data-lang] */
