.doc .admonitionblock {
  .icon {
    border-radius: .5rem;
  }

  td.icon {
    width: auto;
  }
}

i.fa {
  &[class^='icon-'], &[class*=' icon-']::before {
    content: "";
    height: 1rem;
    width: 2rem;
    margin-right: -1rem;
    margin-left: -.5rem;
  }

  &.icon-note::before {
    background: no-repeat url("/images/note.svg");
  }

  &.icon-tip::before {
    background: no-repeat url("/images/tip.svg");
  }

  &.icon-important::before {
    background: no-repeat url("/images/important.svg");
  }

  &.icon-warning::before {
    background: no-repeat url("/images/warning.svg");
  }

  &.icon-caution::before {
    background: no-repeat url("/images/caution.svg");
  }
}

.doc .content {
  figure {
    text-align: left;
  }

  h2 {
    padding-top: 1.5em;
  }
}

h3, h4 {
  padding-top: 1.5em;
}

.doc {
  .quoteblock {
    blockquote {
      border-left: 0px;
    }

    border-left: 5px solid var(--color-blue);
  }

  .exampleblock > .content {
    border: 0px;
  }

  .sidebarblock > .content > .title {
    margin-bottom: 1em;
  }
}

:focus {
  outline: 0px;
}

.image.left{margin-right:.625em}
.image.right{margin-left:.625em}

