@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Inter&display=swap');
@import "./typeface-inconsolata-powerline.scss";

// to do:  analyze antora admonitions and harmonize the bulma warnings etc; colors and naming;
//also can we eventually migrate away from --color stuff and make the asciidoc stuff rely on bulma styles?
@import "./colors.scss";
@import "./vars.scss";

$grey-darker: $color-grey-70;
$grey-dark: $color-grey-50;
$grey: $color-grey-30;
$grey-light: $color-grey-10; 
$grey-lighter: $color-smoke-90; 

//this seems to be the hero and panel background 
$white-ter: $color-smoke-70;

$orange: $color-orange;
$green: #93c54b;
$blue: $color-blue; 

$warning: $color-orange;
$warning-invert: $color-orange;

$rem-base: 18;
$body-font-size: 1.0625em;
$body-size: $body-font-size;

$link: $link-font-color; 
//fix asciidoc quote style

$content-blockquote-border-left: 0px;
$content-blockquote-background-color: $color-smoke-30; 
//site style
$pagination-background-color: $color-smoke-50;
$pagination-current-background-color: $grey-light;
$pagination-active-color: $color-jet-70;

$button-color: $grey-darker;

// Fonts 
$family-monospace: "Cousine", monospace;
$family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-primary: $family-sans-serif;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";
@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/utilities/controls.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/panel.sass";
@import "../node_modules/bulma/sass/components/pagination.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/bulma.sass";
@import "./doc.scss";
@import "./extra.scss";
@import "./powerline.scss";

