.powerline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Inconsolata-Powerline",monospace;
  font-size: 1.2em;
  line-height: 1.1em;
}
.prompt-left {
  display: flex;
  flex-basis: content;
  justify-content: left;
  flex-grow: 0;
  flex-shrink: 1;
}
.prompt-right {
  display: flex;
  flex-basis: content;
  justify-content: right; 
  flex-grow: 0;
  flex-shrink: 1;
}
.prompt-filler {
  display: flex;
  flex-basis: content;
  justify-content: center;
  flex-grow: 1;
}
.fg-white {
  color: $white-ter;
}
.fg-blue {
  color: $blue;
}
.bg-blue {
  background-color: $blue;
}
.bg-gray {
  background-color: $grey-lighter;
}
.fg-gray {
  color: $grey-lighter;
}
.bg-dark-gray {
  background-color: $grey;
}
.fg-dark-gray {
  color: $grey;
}
.bg-orange {
  background-color: $orange;
}
.fg-orange {
  color: $orange;
}
.fg-red {
  color: $red;
}
