:root {
  /* colors */
  --color-white:#fff;
  --color-smoke-10:#fefefe;
  --color-smoke-30:#fafafa;
  --color-smoke-50:#f5f5f5;
  --color-smoke-70:#f0f0f0;
  --color-smoke-90:#e1e1e1;
  --color-gray-10:#c1c1c1;
  --color-gray-30:#8e8e8e;
  --color-gray-50:#808080;
  --color-gray-70:#5d5d5d;
  --color-jet-20:#4a4a4a;
  --color-jet-30:#424242;
  --color-jet-50:#333;
  --color-jet-70:#222;
  --color-jet-80:#191919;
  --color-black:#000;
  --color-blue: #4285f4;

  /* fonts */
  --rem-base:18;

  /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size:1.0625em;

  /* toc */
  --toc-font-color:var(--nav-muted-color);
  --toc-heading-font-color:var(--doc-font-color);
  --toc-border-color:var(--panel-border-color);
  --toc-line-height:1.2;

  /* admonitions */
  --caution-color:#a0439c;
  --caution-on-color:var(--color-white);
  --important-color:#d32f2f;
  --important-on-color:var(--color-white);
  --note-color:#217ee7;
  --note-on-color:var(--color-white);
  --tip-color:#41af46;
  --tip-on-color:var(--color-white);
  --warning-color:#e18114;
  --warning-on-color:var(--color-white);


  --panel-background:var(--color-smoke-30);

  /* doc */
  --doc-font-color:var(--color-jet-70);
  --doc-font-size:inherit;
  --doc-font-size--desktop:calc(19 / var(--rem-base) * 1rem);
  --doc-line-height:1.6;
  --doc-margin:0 auto;
  --doc-margin--desktop:0 2rem;
  --heading-font-color:var(--color-jet-80);
  --heading-font-weight:normal;
  --alt-heading-font-weight:var(--body-font-weight-bold);
  --section-divider-color:var(--panel-border-color);
  --link-font-color:#1565c0;
  --link_hover-font-color:#104d92;
  --link_unresolved-font-color:var(--important-color);
  --abstract-background:var(--color-smoke-70);
  --abstract-font-color:var(--color-jet-20);
  --abstract-border-color:var(--panel-border-color);
  --admonition-background:var(--panel-background);
  --admonition-label-font-weight:var(--body-font-weight-bold);
  --caption-font-color:var(--color-gray-70);
  --caption-font-weight:var(--body-font-weight-bold);
  --code-background:var(--panel-background);
  --code-font-color:var(--body-font-color);
  --example-background:var(--color-white);
  --example-border-color:var(--color-gray-70);
  --kbd-background:var(--panel-background);
  --kbd-border-color:var(--color-gray-10);
  --pre-background:var(--panel-background);
  --pre-border-color:var(--panel-border-color);
  --pre-annotation-font-color:var(--color-gray-10);
  --quote-background:var(--panel-background);
  --quote-border-color:var(--color-gray-70);
  --quote-font-color:var(--color-gray-70);
  --quote-attribution-font-color:var(--color-gray-30);
  --sidebar-background:var(--color-smoke-90);
  --table-border-color:var(--panel-border-color);
}
