<script>
  $(document).ready(function() {
    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");
    });
  });
</script>
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/google_analytics.html" . }}
<script defer src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
{{- /* vim: set ts=2 sw=2 et: */}}
